@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Roboto+Mono&display=swap');


/* XXXXXXXXXXXXXXXXXXXXXXXXXXXX
XXXXXXX 0 GLOBAL STYLE XXXXXXXX
XXXXXXXXXXXXXXXXXXXXXXXXXXXX */
:root{
    /* COLORS */
    --greenTheme:rgb(87, 199, 124);
    --redTheme:rgb(211, 90, 90)
}
/* druga propzycja rgb(22, 212, 86) */
a{
    color: black;
    text-decoration: none;
}
.titleContainer{
    display: flex;
    justify-content: space-between;
    width: 100%;
}
h1{
    font-size: 40px;
    text-align: center;
    color: var(--greenTheme);
    margin: 0px;
    padding: 20px 0;
}
.fakeDiv{
    visibility: hidden;
}
.goBack{
    color: var(--greenTheme);
    font-weight: 700;
    cursor: pointer;
    height: 100%;
    transition: 0.3s;
}
.goBack::before{
    content: "<";
    color: var(--redTheme);
}
.goBack:hover{
    transform: scale(0.9);
}
.goBack:active{
    transform: translateY(3px) scale(0.9);
}


body {
    font-family: 'Poppins', sans-serif;
    margin: 0px;
    font-size: 22px;
    overflow: hidden;
}

#app {
    display: flex;
    flex-direction: column;
    align-items: center;
    transition:cubic-bezier(.45,.84,.68,.99) 1s ; 
    position: relative;
    background-color: rgb(48, 49, 53);
}


/* XXXXXXXXXXXXXXXXXXXXXXXXXXXX
XXXXXXX 1 WELCOME PAGE XXXXXXXX
XXXXXXXXXXXXXXXXXXXXXXXXXXXX */

#welcomePage {
    height: 100vh;
    width: 100vw;
    font-family: 'Roboto Mono', monospace ;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url("Assets/1.jpg");
    background-size: cover;
    background-position: center;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.432);
    z-index: 1;
}

.welcomeContainer{
    width: 100%;
    background-color: rgba(0, 0, 0, 0.75); 
    display: flex;
    justify-content: center
}
.welcomeMessage{
    padding: 20px 0 ;  
    text-align: center;
    font-size: 40px;
    font-weight: 500;
    color: var(--greenTheme);
}
.welcomeMessage div{
    padding-bottom: 20px ;
    position: relative;
    left: 10px;
}
.welcomeMessage div:last-child{
    padding-bottom: 0px ;
}
.welcomeMessage .normalDiv::before{
    content: "<";
    color: var(--redTheme);
}
.welcomeMessage .normalDiv::after{
    content:"/>";
    color: var(--redTheme);
}
/* BUTTONS */
.buttonsContainer {
    display: flex;
    gap: 10px;
}
.btn{
    background-color: rgba(48, 49, 53, 0);
    cursor: pointer;
    border: none;
    color: var(--greenTheme);
    margin: 0px;
    padding: 0px;
    font-family: 'Roboto Mono', monospace ;
    font-weight: 500;
    font-size: 40px;    
    transition: 0.3s;
}
.btn::before{
    content: "<";
    color: var(--redTheme);
}
.btn::after{
    content:">";
    color: var(--redTheme);
}
.btn:hover{
    transform: scale(0.93);
}
.btn:active{
    transform: translateY(3px) scale(0.9);
}
/* XXXXXXXXXXXXXXXXXXXXXXXXXXXX
XXXXXXX ALL CONTAINERS XXXXXXXX
XXXXXXXXXXXXXXXXXXXXXXXXXXXX */

#about, #portfolio, #contact{
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(48, 49, 53);
    box-sizing: border-box;
    padding: 2vw;
    position: relative;
    transition: 0.5s;
}

.content{
    width: 1024px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: black;
    color: white;
    padding: 36px;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.432);
}


/* XXXXXXXXXXXXXXXXXXXXXXXXXXXX
XXXXXXXXXX 2 ABOUT XXXXXXXXXXXX
XXXXXXXXXXXXXXXXXXXXXXXXXXXX */

#about{
    bottom: 100vh;
}
#about .content div{
    margin: 10px 0;
}
#about .content .goBack{
    margin:0px
}
#about .content .quote::after{
    content:" – Martin Fowler"
}
.redBorder {
    width: 600px;
    height: 4px;
    background-color: var(--redTheme);
}


/* XXXXXXXXXXXXXXXXXXXXXXXXXXXX
XXXXXXXX 3 PORTFOLIO XXXXXXXXXX
XXXXXXXXXXXXXXXXXXXXXXXXXXXX */

#portfolio{
    bottom: 200vh;
    transition: display(0s)
}

.projectsContainer{
    display: flex;
    align-items: center;
    gap: 30px;
    height: 100%;
}
#portfolio ul {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 0px;
    margin: 0px;
    align-self: center;
    cursor: pointer;
}
#portfolio li{
    transition: 0.3s;
}
#portfolio li:hover, #portfolio .projectLinks a:hover{
    color: var(--greenTheme);
    transform: scale(0.9);
}
#portfolio li:active, #portfolio .projectLinks a:active{
    transform: translateY(3px) scale(0.9);
}
#portfolio .redBorder {
    width: 4px;
    height: 350px;
    background-color: var(--redTheme);
}
.projectDescription{
    display: flex;
    flex-direction: column;
    gap: 15px;
    transition: 1s;
}
.projectInfo{
    text-align:left;
    transition: 1s;
}
.projectDescription img{
    width: 500px;
}
.projectLinks{
    display: flex;
    justify-content: space-around;
}
.projectLinks a{
    display: flex;
    align-items: center;
    gap: 8px;
    transition: 0.3s;
}
.projectLinks img{
    width: 25px;
}

#portfolio a{
    color: white;
    text-decoration: none;
}

/* XXXXXXXXXXXXXXXXXXXXXXXXXXXX
XXXXXXXXX 4 CONTACT XXXXXXXXXXX
XXXXXXXXXXXXXXXXXXXXXXXXXXXX */

#contact {
    bottom: 300vh;
}
#contact .content{
    gap: 15px;
}
#contact .contactInfo{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}
#contact .emailInfo, #contact .githubInfo{
    display:flex;
    gap: 10px;
    align-items: center;
    transition: 0.3s;
}
#contact .email::before{
    content: 'email: ';
    color: rgb(170, 170, 170);
}
#contact .github::before{
    content: 'github: ';
    color: rgb(170, 170, 170);
}
#contact  .githubInfo a{
    transition: 0.3s;
}
#contact  img {
    width: 30px;
}
#contact  a{
    color: white;
    text-decoration: none;
}
#contact .repoInfo a{
    display: flex;
    align-items: center;
    gap: 8px;
    transition: 0.3s;
}
#contact  .githubInfo:hover, #contact .emailInfo:hover{
    color: var(--greenTheme);
    transform: scale(0.93);
}
#contact  .githubInfo:hover a{
    color: var(--greenTheme);
}
#contact  .githubInfo:active, #contact .repoInfo:active{
    transform: translateY(3px) scale(0.9);
}
#contact  .repoInfo a:hover{
    color: var(--greenTheme);
    transform: scale(0.93);
}